.repo {
    background-color: #121212;
    box-shadow: #010409 0 2px 24px;
    padding: 2rem;
    border-radius: 3px;
    border: 2px solid #12620c;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    flex: 1 0 50%;
  }
  
  .stats {
    display: flex;
    gap: 1rem;
  }
  
  .stats div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    border-radius: 3px;
    border: 1px solid #12620c;
    padding-right: 0.4rem;
  }
  
  .stats svg {
    background-color: #12620c;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
    font-size: 2rem;
  }
  
  .repo_btn {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #12620c;
    border-radius: 5px;
    gap: 0.5rem;
  }